body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #333;
    text-decoration: none;
}

.carousel-container {
    overflow: hidden;
    white-space: nowrap;
    margin-top: 1em;
}

.carousel-container img {
    width: 100%;
    display: inline-block;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fila {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.columna {
    padding: 15px;
    box-sizing: border-box;
}

.columna-50 {
    width: 50%;
}

.columna-33 {
    width: 33.33%;
}

h2, h3 {
    color: #555;
}

.boton {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.boton:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #333;
    padding: 1em 0;
    text-align: center;
    font-size: 0.9em;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    text-align: center;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: #333;
    text-decoration: none;
}


@media (max-width: 768px) {
    .columna-50, .columna-33 {
        width: 100%;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container {
        width: 95%;
        padding: 15px;
    }

    .fila {
        flex-direction: column;
    }
}
